@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #000;
}
.title {
    background: linear-gradient(90deg,#ff4d4d,#f9cb28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}